@model PagedResult<ListingProductViewModel>
@{
    int counter = 1;
    ViewBag.Title = "Products";
    var pagingModel = new DashboardPagination()
    { PageNumber = Model.PageNumber, PagesCount = Model.PagesCount, Size = Model.Size };

}
<h2>Products</h2>

<p>
    <a asp-action="Create" class="btn btn-add"> New Product </a>
</p>
<form class="form-inline my-2 my-lg-0">
    <input type="hidden" name="size" value="@pagingModel.Size" />
    <input class="form-control" name="searchTerms" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<table class="table" id="tbl">
    <caption>Page Number (@(Model.PageNumber))</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Name (Arabic)</th>
            <th scope="col">Sub Category Name</th>
            <th scope="col">Prices</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Items)
        {
        <tr id="@item.Id">
            <th scope="row">@(counter++)</th>
            <td>@item.Name</td>
            <td>@item.Name_AR</td>
            <td>
                <a target="_blank" asp-action="Details" asp-controller="SubCategories" asp-route-id="@item.SubCategory_Id"> @item.SubCategoryName</a>
            </td>
            @*<td>
                <a target="_blank" asp-action="Details" asp-controller="Brands" asp-route-id="@item.Brand_Id"> @item.BrandName</a>
            </td>*@
            <td>
                <table>
                    <thead>
                        <tr>
                            <th>Market Name</th>
                            <th>Old Price</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var price in item.Prices)
                        {
                        <tr>

                            <td>@price.MarketName</td>
                            <td id="oldPrice_@price.Id">@price.OldPrice</td>
                            <td id="price_@price.Id">@price.Price</td>
                            <td id="priceAction_@price.Id"><i onclick="EditPrice(@(price.Id));" class="bi bi-pencil-square"></i></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" onclick="Delete(@(item.Id));">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<partial name="Partials/_Pagination" model="pagingModel" />
<script>
    function Delete(i) {

        var Confirmed = confirm('Are You Sure You Want To Delete This Product ??');

        if (Confirmed == true) {
            $(".loader").show();
            $.post("@Url.Action("Delete", "Products")", {

                id: i
            },
                function (data) {
                    if (typeof data == 'string') {
                        alert(data);
                    }
                    $("#tbl tr#" + data + "").remove();
                    $(".loader").hide();
        }

            ).fail(function () {
                alert("Can Not Delete Item , May Be Have Related Items")
                $(".loader").hide();
            })
        }
    }

    function EditPrice(priceId)
    {
        var oldPrice = $("#oldPrice_" + priceId);
        var price = $("#price_" + priceId);

        oldPriceValue = parseInt(oldPrice.html());
        priceValue = parseInt(price.html());

        oldPrice.html(`<input type="number" id="oldPriceNew${priceId}" style="width:60px" value="${oldPriceValue}" />`);
        price.html(`<input type="number" id="priceNew${priceId}" style="width:60px" value="${priceValue}" />`);

        $("#priceAction_" + priceId).html(`<i onclick="SavePrice(${priceId});" class="bi bi-check-lg"></i>`);
    }

    function SavePrice(priceId) {
        var oldPriceNew = $("#oldPriceNew" + priceId).val();
        var priceNew = $("#priceNew" + priceId).val();
        if (oldPriceNew < 0) {
            alert("Please Add Valid Old Price !");
            return
        }
        if (priceNew < 0) {
            alert("Please Add Valid Price !");
            return
        }

        $(".loader").show();
        $.post("@Url.Action("EditProductPrice", "Products")", {

                Id: priceId,
                OldPrice: oldPriceNew,
                Price: priceNew
            },
                function (data) {
                    if (typeof data == 'string') {
                        alert(data);
                        return;
                    }
                    $(".loader").hide();
              }

            ).fail(function () {
                alert("Can Not Edit Price")
                $(".loader").hide();
                return;
            })


        var oldPrice = $("#oldPrice_" + priceId);
        var price = $("#price_" + priceId);
        oldPrice.html(oldPriceNew);
        price.html(priceNew);
        $("#priceAction_" + priceId).html(`<i onclick="EditPrice(${priceId});" class="bi bi-pencil-square"></i>`);
    }
</script>